.tp1{
background-color:orange;

}
.top2{
background-color:white;

}
.top1{
background-color:orange;

}
.bg-orange{
  background-color: #f86f2b;
  height:80px;
}
.bg-white{
  background-color: white;
  height:70px;
.a{
  margin-top: 10px;
}
  
}
.signupbtn{
  
  border: 0.01rem solid #fff;
    display: block;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem 1rem;
    
}




.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
    
}
.dropdown {
    position: relative;
    display: inline-block;
}

.boxdiv {
   font-size: 20px;
<<<<<<< HEAD
    background:white;
    width:270px;
    /*height:200px;*/
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow: overlay;*/
    /*border: 1px solid black;*/
    
}
.boxdivimg {
   font-size: 20px;
    background:white;
    width:270px;
    height:250px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
    background:white;
    width:270px;
    /*height:200px;*/
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow: overlay;*/
    /*border: 1px solid black;*/
    
}
.boxdivimg {
   font-size: 20px;
<<<<<<< HEAD
    background:white;
    width:270px;
    height:250px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
=======
<<<<<<< HEAD
    background:white;
    width:270px;
    height:250px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
=======
<<<<<<< HEAD
    background:white;
    width:270px;
    height:250px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
=======
    background:white;
    width:270px;
    /*height:250px;*/
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
=======
    background:white;
    width:500px;
    height:70px;
    color: #000;
    padding-left: 18px;
    padding-top:10px;
>>>>>>> b7dbd759cb9c0e1c38ca1df2dcb8cb32c0f1331b
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
    overflow: hidden;
    
}
.boxdiv1 {
   
    background:white;
    width:270px;
    /*height:50px;*/
<<<<<<< HEAD
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    
}
.boxdiv2 {
   
    background:white;
    border-bottom:2px solid grey;
    /*width:270px;*/
    height:auto;
    /*color: #000;*/
text-align: justify;
  /*background: transparent;*/
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow-y: scroll;*/
    
}
.user{
  width:270px;
  /*height:30px;*/
  font-style:italic;
  background:white;
=======
<<<<<<< HEAD
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    
}
.boxdiv2 {
   
    background:white;
    border-bottom:2px solid grey;
    /*width:270px;*/
    height:auto;
    /*color: #000;*/
text-align: justify;
  /*background: transparent;*/
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow-y: scroll;*/
    
}
.user{
  width:270px;
  /*height:30px;*/
  font-style:italic;
  background:white;
=======
<<<<<<< HEAD
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    
}
.boxdiv2 {
   
    background:white;
    border-bottom:2px solid grey;
    /*width:270px;*/
    height:auto;
    /*color: #000;*/
text-align: justify;
  /*background: transparent;*/
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    /*overflow-y: scroll;*/
    
}
.user{
  width:270px;
  /*height:30px;*/
  font-style:italic;
  background:white;
=======
<<<<<<< HEAD
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    
}
.boxdiv2 {
   
    background:white;
    border:2px solid orange;
    width:270px;
    height:40px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
=======
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    
}
.boxdiv2 {
   
    background:white;
    border:2px solid orange;
    width:270px;
    height:40px;
    color: #000;
    /*padding-left: 18px;*/
    /*padding-top:10px;*/
    overflow-y: scroll;
    
}
.boxdiv2 {
   
    background:white;
    border:2px solid orange;
    width:500px;
    height:40px;
    color: #000;
    padding-left: 18px;
    padding-top:10px;
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
    overflow-y: scroll;
    
}
.user{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
  width:270px;
  /*height:30px;*/
  font-style:italic;
  background:#ffedcc;
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
  font-size:20px;
  color:blue;
  /*padding-left:18px;*/

  /*border: 1px solid black;*/
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
  width:500px;height:30px;font-style:italic;background:white;font-size:20px;color:blue;padding-left: 18px;
>>>>>>> b7dbd759cb9c0e1c38ca1df2dcb8cb32c0f1331b
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
}







 .dropbtn {
    background-color: orange;
}

body {
  margin: 0;
  padding: 0;
  background: orange;
}





.top{
padding:0px;
height:85px;
width:1150px;
border:0px solid black;
background-color:pink;
}
.fb{
  color:white;
    font-size:50px;
    height: 56px;
    
 }
.em{
color:white;
left:-78px;
width:140px;
height:8px;
}
.pass{
color:white;
left:-11px;
width:140px;
height:8px;
}
.log{
color:white;
left:57px;
top:27px;
}



.loginbody{
    
    background: white;
<<<<<<< HEAD
    
=======
<<<<<<< HEAD
    
=======
<<<<<<< HEAD
    
=======
    /*margin-left: 200px;*/
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
    margin-top: 100px;
}
.signup{
    
    background: white;
    margin-left: 500px;
     
}
.sign{
    
    background: white;
<<<<<<< HEAD
    
=======
<<<<<<< HEAD
    
=======
<<<<<<< HEAD
    
=======
    /*margin-left: 400px;*/
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
    margin-top: 40px;
}



.wrap{
<<<<<<< HEAD

  position:relative;
  /*width: 200px;*/
  left: 35px;
  top: -12px;
}
=======
<<<<<<< HEAD

  position:relative;
  /*width: 200px;*/
  left: 35px;
  top: -12px;
}



#text{
  position: absolute;
  left: 30px;
  top: 7px;
  color: white;
}


.thumbnail img,video
{
    width: 100%;
    
}


=======

<<<<<<< HEAD
  position:relative;
  /*width: 200px;*/
  left: 35px;
  top: -12px;
=======

@media (min-width:992px) { /* choose your min-width this is using the md- default */
  .flexbox .flex-row.row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

  .flexbox .flex-row [class*=flexcol-] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

  .flexbox .flex-row .flexcol-editor, 
  .flexbox .flex-row .flexcol-preview {width:50%;}


  .flexbox .flex-row .panel {
        width: 100%;
        /*something to keep it open and add some inner style */
    }

  .flexbox .flex-row .flexcol-errors {
        order: 2;
        width:100%;
    }
}










/* CSS Document*/
/*a,
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
  padding:0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: inherit

}
ul,li,ol,li{
  list-style: none;
}
a{
text-decoration: none;
  color: inherit
}
span.bclear{
  display: block;
  clear: both !important;
    
}
*{
  -webkit-transition: all 1s  ease-in-out;
  -moz-transition: all 1s  ease-in-out;
  -ms-transition: all 1s  ease-in-out;
  -o-transition: all 1s  ease-in-out;
  transition: all 1s  ease-in-out;
}
html{
  font-size:100%;

}
body{
    background-color: #ecedf1;
}
header{
background-color: #fff;
  clear: both
}
h1{
  font-size: 2.6rem;
  color:inherit;
  display: inline-block
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
}
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758



#text{
  position: absolute;
  left: 30px;
<<<<<<< HEAD
  top: 13px;
  color: white;
}


.thumbnail img,video
{
    width: 100%;
    
}



.thumbnail  
{   
     /*height: auto;*/

    border-radius: 10px;
    border-radius: 1px;
    border: 8px solid #C0C0C0;
    background: white;
   
    font-family: 'Cormorant Garamond',serif;
    font-family: 'Questrial', sans-serif;
    line-height: 20px;
    font-weight: normal;
    /*font-size: 20px;*/

   
    opacity: 5;
   
  

}

.quant{


  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 300px;
}



input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #1A5276;
    opacity: 1;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #1A5276;
    opacity: 1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #1A5276;
    opacity: 1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #1A5276;
    opacity: 1;
}
=======
  top: 7px;
  color: white;
}


.thumbnail img,video
{
    width: 100%;
    
}


>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf

.thumbnail  
{   
     /*height: auto;*/

    border-radius: 10px;
    border-radius: 1px;
    border: 8px solid #C0C0C0;
    background: white;
   
    font-family: 'Cormorant Garamond',serif;
    font-family: 'Questrial', sans-serif;
    line-height: 20px;
    font-weight: normal;
    /*font-size: 20px;*/

   
    opacity: 5;
   
  

}


*/
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
