
{% extends "admin/change_form.html" %}
{% load static from staticfiles %} # This might be just {% load static %} in your ENV

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/admin-extra.css" %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" /> -->
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><h1 style="color:white;">Welcome to Republiqo Admin Login.......</h1></a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

