<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Questrial" rel="stylesheet">
  <style>

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

body {
    background-color: pink;
    width: 450px;
    margin: 20px auto;
    font: normal 13px/100% sans-serif;
    color: #444;
}
div {
    display:none;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.totop a {
    display: none;
}
a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}
#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}
.sty{
font-family: 'Cormorant Garamond',serif;
font-family: 'Questrial', sans-serif;"
}


  </style>
</head>
<body style="background-color:white;">
	<div class="container">

{% for i in list %}
<div class="col-md-12 sty">
	<div class="col-md-2"><img src="/static/css/userlogo.png" style="height:20px;width:30px;"/></div>
    <div class="col-md-2"><b>{{i.user}}</b></div>
    <div class="col-md-8"><p>{{i.cmt}}</p></div>
</div>
{% endfor %}
<a href="#" id="loadMore">Load More</a>
<p class="totop"> 
    <a href="#top">Back to top</a> 
</p>
</div>
<script>
	$(function () {
    $("div").slice(0, 4).show();
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $("div:hidden").slice(0, 4).slideDown();
        if ($("div:hidden").length == 0) {
            $("#load").fadeOut('slow');
        }
        $('html,body').animate({
            scrollTop: $(this).offset().top
        }, 1500);
    });
});

$('a[href=#top]').click(function () {
    $('body,html').animate({
        scrollTop: 0
    }, 600);
    return false;
});

$(window).scroll(function () {
    if ($(this).scrollTop() > 20) {
        $('.totop a').fadeIn();
    } else {
        $('.totop a').fadeOut();
    }
});	
</script>
=======
  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
  <!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->
  <script src="/static/js/imagesloaded.pkgd.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Questrial" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  
</head>
<body style="background:#C0C0C0;">
	<div class="container-fluid">

   <!-- <header>
<div class="row" style="background: #ff5722;height:70px">
<li style="list-style-type:circle;color:#ff5722"><div class="col-sm-2" style="color:white;font-size: 30px;display: inline;">Republiqo<sup>*</sup></div></li>
<div><a href="/logout" class="offset-sm-8 col-md-1 " style="color:black;border: 0.01rem solid #fff;text-align: center; display: block;color: #fff;border-radius: .5rem;">LOGOUT</a></div>

<div class="col-xs-1"><a href="https://www.facebook.com/"><img src="/static/css/fc.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></a>
<a href="https://twitter.com/login">
<img src="/static/css/tw.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></div>
</a>

</div>
</div>
<div class="col-sm-12" style="background:white;">
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">CRICKET</a></span> </div>
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">FOOTBALL</a></span></div>
<div class="offset-sm-8 col-md-1"><button type="button" class="btn btn-default btn-md writepost" data-toggle="modal"  style="color:white;background-color:#0b0561;width:207px;height: 46px;" data-target="#postModal">WRITE A POST</button></div>
</div>
</div>



</header> -->
    <!-- <div class="col-md-12"></br></div>  -->


 

  



<div class="modal fadein " id="addModal" role="dialog" tabindex="-1" >
      <div class="modal-dialog">
        <div class="modal-content" style="background-color:white;">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title" style="color:black;font-style:italic">Comment here</h5>
                </div>

                <div class="modal-body">
                  <form action="/comment/" method="POST">{% csrf_token %}
                       

                        
                      <div class="form-group">
                           <div class="col-md-12" style="font-size:15px;color:black;" readonly>{% for j in jhk %}
                           
                        <div class="col-md-3" style="color:#f86f2b;font-weight:bold;font-family: 'Cormorant Garamond',serif;font-size:1rem;">@{{j.user}}:
                        </div>
                        <div class="col-md-7" style="color:black;font-size:13px;" >{{j.cmt}}</div>
                        <div class="col-md-1"><img  style="height:25px;width:30px;" src="/static/css/smily.png"/></div>
                        <div class="col-md-12"></br></br></div>
                        {% endfor %}
                        
                      </div>
                      
                      
                       
                        </div>


                      <div class="form-group" hidden>

                        <label style="color:white;font-style:italic">Id</label>
                         <input type="text" class="form-control id_class"  name="id_class">
                        </div>
                    
                      
                    <div class="form-group">
                        <label style="color:white;font-style:italic">Write Comment</label>
                         <input type="text" class="form-control quant"  name="cmt" maxlength="100">
                    </div>
                    
                      <input type="submit" class="btn btn-default comment_submit"   style="margin-left:20px;color:black;font-style:italic"></input>
                      <input type="submit" class="btn btn-default" data-dismiss="modal" value="cancel"style="color:black;font-style:italic"></input>

                    <br><br>
                  </form>
               </div>   
        </div>
    </div> 
</div>




 


 












 <!-- <div class="container-fluid" style="background:#C0C0C0;">             
<div class=""  >
  <div class="col-md-12"></br></div> 
	<div class="col-md-12">
    <div class="grid">
      <div class="grid-sizer">
    {% for i in ownerobj%}
    <div class="col-md-4 grid-item">
              <div class="col-xs-12" >
                  <div class="col-xs-12"></br></div> 
                    <img  class="col-xs-4" style="height:40px;width:70px;left:-34px;" src="/static/css/round.jpg"/>
                    
                    <div style="text-align:center;top:18px;color: #4c66a4;left:-40px" class="col-xs-4" >{{i.user}} </div>
                  <img class="offset-xs-2 col-xs-1" style="height:40px;width:70px;left:50px;" src="/static/css/star.png"/>
                       
              </div>







              <div class="col-md-12" ></br></div>
              <div class="col-md-12" style="white-space: pre-wrap;color:#4c66a4;font-size:1.2em;text-align: justifyfont-family: Arial, Helvetica, sans-serif;font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif">{{i.description}}
              </div>
        
              {% if i.imgtype == 1 %}
                <video class="col-md-12 grid-item-img" controls>
                  <source src="/{{i.image}}">
                </video>
                {% else %}
               <img  src="/{{i.image}}" class="col-md-12 grid-item-img"/>
               {% endif %}

              <div class="col-md-12"> 
                  <button type="button" class="col-md-2 btn btn-link like"  id="{{i.is}}" style="text-decoration:none;" value="{{i.clickable}}">{% if i.clickable %}({{i.likes}}) Like{% else %} ({{i.likes}}) Like{% endif %} </button>
              
                  <button type="button" class="col-md-2 btn btn-link comment" style="width:100px;text-decoration:none;left:13px;" data-toggle="modal" id="{{i.is}}"  data-target="#addModal">{% if i.n %}({{i.n}})Comment{% else %} ({{0}})Comment{% endif %}</button>

                  <button type="button" class="col-md-2 btn btn-link share" style="left:10px;text-decoration:none;" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="<a href='https://www.facebook.com/plugins/share_button.php?href=http://127.0.0.1:8000/static/images/{{i.image}}'>Facebook</a><br><a href='https://twitter.com'>Twitter</a>"
                  data-html="true" id="{{i.is}}"> Share</button>
              </div>
           

                <div class="col-md-12 boxdiv2" style="font-size:15px;color:black" readonly>{% for j in i.comment %}
                  <pre style="color:#365899;font-weight:bold;">({{j.user}}):<strong style="color:black;" >{{j.cmt}}</strong></pre>
                  {% endfor %}
                </div>

              <div class="col-md-12"></br></div>

    </div>
    {% endfor %}
  </div>
  </div>
     </div>
</div>
</div> -->
           



<!-- <div class="modal fadein " id="addModal" role="dialog" tabindex="-1" >
      <div class="modal-dialog">
        <div class="modal-content" style="background-color:white;">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title" style="color:black;font-style:italic">Comment here</h5>
                </div>

                <div class="modal-body">
                  <form action="/comment/" method="POST">{% csrf_token %}
                        {% for i in ownerobj %}

                        
                      <div class="form-group">
                           <div class="col-md-12" style="font-size:15px;color:black;" readonly>{% for j in i.comment %}
                           
                        <div class="col-md-3" style="color:#f86f2b;font-weight:bold;font-family: 'Cormorant Garamond',serif;font-size:1rem;">@{{j.user}}:
                        </div>
                        <div class="col-md-7" style="color:black;font-size:13px;" >{{j.cmt}}</div>
                        <div class="col-md-1"><img  style="height:25px;width:30px;" src="/static/css/smily.png"/></div>
                        <div class="col-md-12"></br></br></div>
                        {% endfor %}
                        
                      </div>
                      
                       {% endfor %}
                       
                        </div>


                      <div class="form-group" hidden>

                        <label style="color:white;font-style:italic">Id</label>
                         <input type="text" class="form-control id_class"  name="id_class">
                        </div>
                    
                      
                    <div class="form-group">
                        <label style="color:white;font-style:italic">Write Comment</label>
                         <input type="text" class="form-control quant"  name="cmt" maxlength="100">
                    </div>
                    
                      <input type="submit" class="btn btn-default comment_submit"   style="margin-left:20px;color:black;font-style:italic"></input>
                      <input type="submit" class="btn btn-default" data-dismiss="modal" value="cancel"style="color:black;font-style:italic"></input>

                    <br><br>
                  </form>
               </div>   
        </div>
    </div> 
</div>
 -->


<!-- <footer class="col-md-12" style="display: block;border:1px solid black;background:black;">
  <p style="color:white;">Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer> -->

>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
</body>
</html>

