<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/a.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
{% include "a.html" %}
<body style="background-color:white;">
	<div class="container">
    <form action="/fbs/bmsit_canteeninput.php" method="POST">
                  
        <h1 class="offset-md-4 col-md-8">BreakFast</h1>
        <div class="col-md-12"></br></div>

        <div class="col-md-12 row">


            <table class="table table-striped">
    <thead>
      <tr>
        <th>Items</th>
        <th>Choose it </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Idly</td>
        <td> <input type="checkbox" name="idly" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>rava_Idly</td>
        <td> <input type="checkbox" name="rava_Idly" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>tatte_Idly</td>
        <td> <input type="checkbox" name="tatte_Idly" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>masala_Idly</td>
        <td> <input type="checkbox" name="masala_Idly" value="true" style="zoom:1.5"/></td>
      </tr>
       <tr>
        <td>veg_Idly</td>
        <td> <input type="checkbox" name="veg_Idly" value="true" style="zoom:1.5"/></td>
      </tr>
       <tr>
        <td>vada</td>
        <td> <input type="checkbox" name="vada" value="true" style="zoom:1.5"/></td>
      </tr>
       <tr>
        <td>rice_bath</td>
        <td> <input type="checkbox" name="rice_bath" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>pudina_rice</td>
        <td> <input type="checkbox" name="pudina_rice" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>capsicum_rice</td>
        <td> <input type="checkbox" name="capsicum_rice" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>pongal</td>
        <td> <input type="checkbox" name="pongal" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>tomato_bath</td>
        <td> <input type="checkbox" name="tomato_bath" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>bisibele_bath</td>
        <td> <input type="checkbox" name="bisibele_bath" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>bread_palav</td>
        <td> <input type="checkbox" name="bread_palav" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>vangi_bath</td>
        <td> <input type="checkbox" name="vangi_bath" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>avalakki_bath</td>
        <td> <input type="checkbox" name="avalakki_bath" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>shevagi_bath</td>
        <td> <input type="checkbox" name="idly" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>chow_chow_bath</td>
        <td> <input type="checkbox" name="shevagi_bath" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>puri</td>
        <td> <input type="checkbox" name="puri" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>chapati</td>
        <td> <input type="checkbox" name="chapati" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>kerala_parota</td>
        <td> <input type="checkbox" name="kerala_parota" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>kerala_parota</td>
        <td> <input type="checkbox" name="kerala_parota" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>gobi_parota</td>
        <td> <input type="checkbox" name="gobi_parota" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>paneer_parota</td>
        <td> <input type="checkbox" name="paneer_parota" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>masala_dosa</td>
        <td> <input type="checkbox" name="masala_dosa" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>set_dosa</td>
        <td> <input type="checkbox" name="set_dosa" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>onion_dosa</td>
        <td> <input type="checkbox" name="onion_dosa" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>neer_dosa</td>
        <td> <input type="checkbox" name="neer_dosa" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td>rava_dosa</td>
        <td> <input type="checkbox" name="rava_dosa" value="true" style="zoom:1.5"/></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="submit"/></td>
        
      </tr>

      
    </tbody>
  </table>
   <p>--------------------------------------------------------------------------------------------------</p>


















          <!-- <div class="col-md-8 offset-md-4">
            <div class="col-md-8"><lable >Idly</lable>
            <input type="checkbox" name="idly" value="true" style="zoom:1.5;"/></div>
          </div>

          <div class="col-md-8 offset-md-4">
            <div class="col-md-3 "><lable>rava_Idly</lable>
            <input type="checkbox" name="idly" value="true" style="zoom:1.5"/></div>
          </div> -->



          <!-- <div class=" col-md-2 offset-md-1">rava_Idly</div><div class="col-md-8 offset-md-1"><input type="checkbox" name="rava_Idly" value="true" style="zoom:1.5"/></div>
          <div class=" col-md-2 offset-md-1">tatte_Idly</div><div class="col-md-8 offset-md-1"><input type="checkbox" name="idly" value="true" style="zoom:1.5"/></div>
          <div class=" col-md-2 offset-md-1">masala_Idly</div><div class="col-md-8 offset-md-1"><input type="checkbox" name="idly" value="true" style="zoom:1.5"/></div>
          <div class=" col-md-2 offset-md-1">veg_Idly</div><div class="col-md-8 offset-md-1"><input type="checkbox" name="idly" value="true" style="zoom:1.5"/></div>
          <div class=" col-md-2 offset-md-1">vada</div><div class="col-md-8 offset-md-1"><input type="checkbox" name="idly" value="true" style="zoom:1.5"/></div> -->

          <!-- <div class=" col-md-4">rava_Idly<input type="checkbox" name="idly" value="true" style="zoom:1.5"/></div> -->
          <!-- <div class="col-md-12"></br></div> -->
        <!-- <input type="submit" name="submit" value="submit"/>   -->
                </form>
          </div>

	

</div>
</body>
</html>

