<!DOCTYPE html>
<html lang="en">
<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
=======
<<<<<<< HEAD
  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
=======
<<<<<<< HEAD
  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
=======
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
 
  <script src="/static/js/imagesloaded.pkgd.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Questrial" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  
</head>
<<<<<<< HEAD
<body style="background:#C0C0C0;">
  <div class="container-fluid">

    

   <header>
<div class="row" style="background: #ff5722;height:70px">
<li style="list-style-type:circle;color:#ff5722"><div class="col-sm-2" style="color:white;font-size: 30px;display: inline;">Republiqo<sup>*</sup></div></li>
<div><a href="/logout" class="offset-sm-8 col-md-1 " style="color:black;border: 0.01rem solid #fff;text-align: center; display: block;color: #fff;border-radius: .5rem;">LOGOUT</a></div>

<div class="col-xs-1"><a href="https://www.facebook.com/"><img src="/static/css/fc.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></a>
<a href="https://twitter.com/login">
<img src="/static/css/tw.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></div>
</a>

</div>
</div>
<div class="col-sm-12" style="background:white;">
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">CRICKET</a></span> </div>
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">FOOTBALL</a></span></div>
<div class="offset-sm-8 col-md-1"><button type="button" class="btn btn-default btn-md writepost" data-toggle="modal"  style="color:white;background-color:#0b0561;width:207px;height: 46px;" data-target="#postModal">WRITE A POST</button></div>
</div>
</div>



</header>
   

</br></br></br>
 <div class="container" style="">

  <div class="row grid" style="background:#C0C0C0;">
  {% for i in ownerobj%}
       

        <div class="col-md-4 thumbnail">
            </br>
            <div class="col-md-12">
                <img class="col-xs-2" style="height:40px;width:68px;left:-40px;top:-15px;" src="/static/css/round.jpg"/>
                <div  class="col-xs-5" style="font-size:20px;color:#1A5276;font-family: 'Cormorant Garamond',serif;top:-10px;left:-55px;">{{i.user}}</div>

                <div class="offset-xs-1 col-xs-3 wrap">
                <img class="" style="height:40px;width:51px;" src="/static/css/star.png"/>
                <div id="text" style="">{{i.rate}}</div>
                </div>
            </div>

                </br>
                <div style="color:#1A5276;" class=" col-xs-12 comment">
                {{i.description}}
                </br></br>
                </div>
                     {% if i.imgtype == 1 %}
                    <video controls  class="" style="height:200px;">
                      <source src="/{{i.image}}">
                
                    </video>

                    {% else %}
                   <img  src="/{{i.image}}" style="background-size: cover;"/>
                   {% endif %}


                  <button type="button" class="btn btn-link like"  id="{{i.is}}" style="text-decoration:none;color:#1A5276" value="{{i.clickable}}">{% if i.clickable %}({{i.likes}}) Like{% else %} ({{i.likes}}) Like{% endif %} </button>

                  <a  href="{{i.is}}" style="width:100px;text-decoration:none;color:#1A5276;" >{% if i.n %}({{i.n}})Comment{% else %} ({{0}})Comment{% endif %}</a>

                  <button type="button" class=" btn btn-link share" style="text-decoration:none;color:#1A5276" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="<a href='https://www.facebook.com/plugins/share_button.php?href=http://127.0.0.1:8000/static/images/{{i.image}}'>Facebook</a><br><a href='https://twitter.com'>Twitter</a>"
                  data-html="true" id="{{i.is}}"> Share</button>

                   <form action="/comment/" method="POST">{% csrf_token %}
                  <div class="col-md-12">

                        <div class="form-group" hidden> 
                          <input type="text" value="{{i.is}}" class="id_class" name="id_class" />
                        </div>

                        <div class="form-group">
                          <input type="text" class="col-md-10 quant" maxlength="100px" name="cmt" placeholder="Comment" />
                          <div class="col-md-1"><img   style="height:25px;width:30px;" src="/static/css/smily.png"/></div>
 
                        </div>
                        <input type="submit" class=" btn btn-default comment_submit" hidden></input>

                    </div>
                  <div class="col-md-12"></br></div>
                </form>
                  
                  <!-- <div class="col-md-12 comment" style="font-size:15px;color:black;z-index: 1;background:white;border-bottom:1px solid grey;" readonly>
=======
<<<<<<< HEAD
<body style="background:#C0C0C0;">
  <div class="container-fluid">

   <header>
<div class="row" style="background: #ff5722;height:70px">
<li style="list-style-type:circle;color:#ff5722"><div class="col-sm-2" style="color:white;font-size: 30px;display: inline;">Republiqo<sup>*</sup></div></li>
<div><a href="/logout" class="offset-sm-8 col-md-1 " style="color:black;border: 0.01rem solid #fff;text-align: center; display: block;color: #fff;border-radius: .5rem;">LOGOUT</a></div>

<div class="col-xs-1"><a href="https://www.facebook.com/"><img src="/static/css/fc.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></a>
<a href="https://twitter.com/login">
<img src="/static/css/tw.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></div>
</a>

</div>
</div>
<div class="col-sm-12" style="background:white;">
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">CRICKET</a></span> </div>
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">FOOTBALL</a></span></div>
<div class="offset-sm-8 col-md-1"><button type="button" class="btn btn-default btn-md writepost" data-toggle="modal"  style="color:white;background-color:#0b0561;width:207px;height: 46px;" data-target="#postModal">WRITE A POST</button></div>
</div>
</div>



</header>
   

</br></br></br>
 <div class="container" style="">

  <div class="row grid" style="background:#C0C0C0;">
  {% for i in ownerobj%}
       

        <div class="col-md-4 thumbnail">
            </br>
            <div class="col-md-12">
                <img class="col-xs-2" style="height:40px;width:68px;left:-40px;top:-15px;" src="/static/css/round.jpg"/>
                <div  class="col-xs-5"style="font-size:20px;color:#000080;font-family: 'Cormorant Garamond',serif;top:-10px;left:-55px;">{{i.user}}</div>

                <div class="offset-xs-1 col-xs-3 wrap">
                <img class="" style="height:30px;width:51px;" src="/static/css/star.png"/>
                <div id="text" style="">{{i.rate}}</div>
                </div>
            </div>

                </br>
                <div style="color:#000080;" class=" col-xs-12 comment">
                {{i.description}}
                </br></br>
                </div>
                     {% if i.imgtype == 1 %}
                    <video controls  class="" style="height:200px;">
                      <source src="/{{i.image}}">
                
                    </video>

                    {% else %}
                   <img  src="/{{i.image}}" style="background-size: cover;"/>
                   {% endif %}
=======
<<<<<<< HEAD
<body style="background:#C0C0C0;">
  <div class="container-fluid">

   <header>
<div class="row" style="background: #ff5722;height:70px">
<li style="list-style-type:circle;color:#ff5722"><div class="col-sm-2" style="color:white;font-size: 30px;display: inline;">Republiqo<sup>*</sup></div></li>
<div><a href="/logout" class="offset-sm-8 col-md-1 " style="color:black;border: 0.01rem solid #fff;text-align: center; display: block;color: #fff;border-radius: .5rem;">LOGOUT</a></div>

<div class="col-xs-1"><a href="https://www.facebook.com/"><img src="/static/css/fc.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></a>
<a href="https://twitter.com/login">
<img src="/static/css/tw.jpg" style="height:30px;width:30px;padding: 3px;padding-left: 7px;"/></div>
</a>

</div>
</div>
<div class="col-sm-12" style="background:white;">
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">CRICKET</a></span> </div>
<div class="col-sm-1" style="padding:11px;"><span><a href="" style="color:#0b0561;">FOOTBALL</a></span></div>
<div class="offset-sm-8 col-md-1"><button type="button" class="btn btn-default btn-md writepost" data-toggle="modal"  style="color:white;background-color:#0b0561;width:207px;height: 46px;" data-target="#postModal">WRITE A POST</button></div>
</div>
</div>



</header>
   

</br></br></br>
 <div class="container" style="">

  <div class="row grid" style="background:#C0C0C0;">
  {% for i in ownerobj%}
       

        <div class="col-md-4 thumbnail">
            </br>
            <div class="col-md-12">
                <img class="col-xs-2" style="height:40px;width:68px;left:-40px;top:-15px;" src="/static/css/round.jpg"/>
                <div  class="col-xs-5"style="font-size:20px;color:#000080;font-family: 'Cormorant Garamond',serif;top:-10px;left:-55px;">{{i.user}}</div>

                <div class="offset-xs-1 col-xs-3 wrap">
                <img class="" style="height:30px;width:51px;" src="/static/css/star.png"/>
                <div id="text" style="">{{i.rate}}</div>
                </div>
            </div>

                </br>
                <div style="color:#000080;" class=" col-xs-12 comment">
                {{i.description}}
                </br></br>
                </div>
                     {% if i.imgtype == 1 %}
                    <video controls  class="" style="height:200px;">
                      <source src="/{{i.image}}">
                
                    </video>

                    {% else %}
                   <img  src="/{{i.image}}" style="background-size: cover;"/>
                   {% endif %}
=======
<body style="background-color:white;">
	<div class="container-fluid">

    <header>
      <section class="col-md-12 bg-orange">
          <div class="col-md-2" style="color:white;font-size: 30px;">Republiqo<sup>*</sup></div>
          <div ><a href="/logout" class="offset-md-10 col-md-1 signupbtn" style="text-decoration:none;color:white;">Logout</a></div>
      </section>
      <section class="col-md-12 bg-white">
<<<<<<< HEAD
          <div class="col-md-1"><a href="">CRICKET</a> </div>
          <div class="col-md-1"><a href="">FOOTBALL</a> </div>
=======
          <div class="col-md-2"><a href="">CRICKET</a> </div>
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
          <!-- <div ><a href="/login/" class="offset-md-10 col-md-1 signupbtn" style="text-decoration:none;color:white;">Logout</a>
          </div> -->
          <div class="offset-md-10 col-md-1"><button type="button" class="btn btn-default btn-md writepost" data-toggle="modal"  style="color:red;" data-target="#postModal">WRITE A POST</button></div>

      </section>
    </header>
    <div class="col-md-12"></br></div> 

















              <!-- <header class="col-md-12">
              		  <section class="col-md-12 bg-orange">
              		    <article class="global-container top-branding" >
              		      <h1 class="brand" style="color:white">Republiqo<sup>*</sup></h1>
              		      <ul class="login-signup inline-list">
              		        <li><a href="/">LOGOUT</a></li>
              		        <li><a href="/signup/">SIGNUP</a></li>
              		      </ul>
              		    </article>
              		  </section>
                <section class="global-container">
                  <nav> <a href=""><span class="icon star"></span>CRICKET</a> 
                  	  
                       <ul class="top-social inline-list">
                    <li><button type="button" class="btn btn-default btn-md writepost" data-toggle="modal"  style="color:red;" data-target="#postModal">WRITE A POST</button></li>
                    <li></li>
                    
                  </ul>
                  </nav>
                </section>
                <span class="bclear"></span> 
              </header> -->
<div class="" style="background:#f1f1f1;" >
  <div class="col-md-12"></br></div> 
	<div class="col-md-12">
    {% for i in ownerobj%}
<<<<<<< HEAD
    <div class="col-md-4 ">
=======
    <div class="col-md-6">
<<<<<<< HEAD
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
              <div class=" col-md-12 user">{{i.user}}
              </div>
              <div class="col-md-12 boxdiv">{{i.description}}
              </div>
        
<<<<<<< HEAD
              {% if i.imgtype == 1 %}
                <video class="col-md-12 boxdivimg" controls>
                  <source src="/{{i.image}}">
                </video>
                {% else %}
               <img  src="/{{i.image}}" class="col-md-12 boxdivimg"/>
               {% endif %}
=======
              <img  src="/{{i.image}}" width="100%" height="100%" class="col-md-12 img-responsive boxdivimg"/>
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32

              <div class="col-md-12 boxdiv1"> 
                  <button type="button" class="col-md-2 btn btn-link like"  id="{{i.is}}" style="text-decoration:none;" value="{{i.clickable}}">{% if i.clickable %}({{i.likes}}) Like{% else %} ({{i.likes}}) Like{% endif %} </button>
              
                  <button type="button" class="col-md-2 btn btn-link comment" style="width:100px;text-decoration:none;" data-toggle="modal" id="{{i.is}}"  data-target="#addModal">{% if i.n %}({{i.n}})Comment{% else %} ({{0}})Comment{% endif %}</button>

                  <button type="button" class="col-md-2 btn btn-link share" style="left:10px;text-decoration:none;" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="<a href='https://www.facebook.com/plugins/share_button.php?href=http://127.0.0.1:8000/static/images/{{i.image}}'>Facebook</a><br><a href='https://twitter.com'>Twitter</a>"
                  data-html="true" id="{{i.is}}"> Share</button>
              </div>
            <!-- <div ><iframe src="https://www.facebook.com/plugins/share_button.php?href=http://127.0.0.1:8000/static/images/{{i.image}}" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
        </div> -->
  <!-- <div><iframe src="https://www.facebook.com/plugins/share_button.php?href=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROpuyg-mUaswqTTaO2hiVwLdi1kwwvrZAyjy_VRA_gFqy6ob6btCqMPh_q&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div> -->
  <!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=http://192.168.1.27:8000/static/images/a1_mZqbMRI.jpg&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" frameborder="0" allowTransparency="true"></iframe> -->
  <!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=http://192.168.1.27:8000/static/images/a1_mZqbMRI.jpg" width="69" height="20"  frameborder="0"></iframe>
<<<<<<< HEAD


<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

                <div class="col-md-12 boxdiv2" style="font-size:15px;color:black" readonly>{% for j in i.comment %}
                  <pre style="color:#365899;font-weight:bold;">({{j.user}}):<strong style="color:black;" >{{j.cmt}}</strong></pre>
                  {% endfor %}
                </div>

              <div class="col-md-12"></br></div>

=======
=======
      <div class="user">{{i.user}}
      </div>
      <div class="boxdiv"><pre>{{i.description}}</pre>
      </div>
  
    <img height="250" width="500" src="/{{i.image}}"/><br>

    <div class="boxdiv1"> 
      <button type="button" class="btn btn-info btn-md like" style="background:#E78025;color:white;border:none" id="{{i.is}}" value="{{i.clickable}}">{% if i.clickable %}({{i.likes}}) Like{% else %} ({{i.likes}}) Like{% endif %} </button>
      
    <button type="button" class="btn btn-default btn-md comment" style="background:#E78025;color:white;" data-toggle="modal" id="{{i.is}}"  data-target="#addModal">{% if i.n %}({{i.n}})Comment{% else %} ({{0}})Comment{% endif %}</button>

    <button type="button" class="btn btn-info btn-md share" style="background:#E78025;color:white;border:none" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="<a href='https://www.facebook.com/plugins/share_button.php?href=http://192.168.1.27:8000/static/images/a1_mZqbMRI.jpg'>Facebook</a><br><a href='https://twitter.com'>Twitter</a>"
  data-html="true" id="{{i.is}}"> Share</button></div>
  <!-- <div><iframe src="https://www.facebook.com/plugins/share_button.php?href=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROpuyg-mUaswqTTaO2hiVwLdi1kwwvrZAyjy_VRA_gFqy6ob6btCqMPh_q&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div> -->
  <!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=http://192.168.1.27:8000/static/images/a1_mZqbMRI.jpg&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" frameborder="0" allowTransparency="true"></iframe> -->
  <!-- <iframe src="https://www.facebook.com/plugins/share_button.php?href=http://192.168.1.27:8000/static/images/a1_mZqbMRI.jpg" width="69" height="20"  frameborder="0"></iframe>


<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->







<div class="boxdiv2" style="font-size:15px;color:black" readonly>{% for j in i.comment %}
  <pre style="color:blue;">({{j.user}}):<strong style="color:black;" >{{j.cmt}}</strong></pre>
  {% endfor %}</div>
>>>>>>> b7dbd759cb9c0e1c38ca1df2dcb8cb32c0f1331b


<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

                <div class="col-md-12 boxdiv2" style="font-size:15px;color:black" readonly>{% for j in i.comment %}
                  <pre style="color:#365899;font-weight:bold;">({{j.user}}):<strong style="color:black;" >{{j.cmt}}</strong></pre>
                  {% endfor %}
                </div>

              <div class="col-md-12"></br></div>

>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
    </div>
    {% endfor %}
     </div>
</div>
           
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106

>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf

                  <button type="button" class="btn btn-link like"  id="{{i.is}}" style="text-decoration:none;" value="{{i.clickable}}">{% if i.clickable %}({{i.likes}}) Like{% else %} ({{i.likes}}) Like{% endif %} </button>

<<<<<<< HEAD
                  <button type="button" class="btn btn-link like"  id="{{i.is}}" style="text-decoration:none;" value="{{i.clickable}}">{% if i.clickable %}({{i.likes}}) Like{% else %} ({{i.likes}}) Like{% endif %} </button>

                  <button type="button" class="btn btn-link comment1" style="width:100px;text-decoration:none;" data-toggle="modal" id="{{i.is}}"  data-target="#addModal">{% if i.n %}({{i.n}})Comment{% else %} ({{0}})Comment{% endif %}</button>

=======
<<<<<<< HEAD
                  <button type="button" class="btn btn-link comment1" style="width:100px;text-decoration:none;" data-toggle="modal" id="{{i.is}}"  data-target="#addModal">{% if i.n %}({{i.n}})Comment{% else %} ({{0}})Comment{% endif %}</button>

>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
                  <button type="button" class=" btn btn-link share" style="text-decoration:none;" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="<a href='https://www.facebook.com/plugins/share_button.php?href=http://127.0.0.1:8000/static/images/{{i.image}}'>Facebook</a><br><a href='https://twitter.com'>Twitter</a>"
                  data-html="true" id="{{i.is}}"> Share</button>



                  </br></br>
                  <div class="col-md-12 comment" style="font-size:15px;color:black;z-index: 1;background:white;border-bottom:1px solid grey;" readonly>
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
                    {% for j in i.comment %}
                       
                    <div class="col-md-3" style="color:#f86f2b;font-weight:bold;font-family: 'Cormorant Garamond',serif;font-size:1rem;">@{{j.user}}:
                    </div><div class="col-md-7" style="color:black;font-size:13px;" >{{j.cmt}}</div>
                    <div class="col-md-1"><img  style="height:25px;width:30px;" src="/static/css/smily.png"/></div>
                    <div class="col-md-12"></br></div>
                    {% endfor %}
                  </div>
<<<<<<< HEAD
         -->
=======
        
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
          </div><!--tumbnail-->
          </br></br>
     {% endfor %}  

     </div><!--grid-->
     <!-- <div><footer class="col-md-12" style="display:block;border:1px solid black;background:black;">
  <p style="color:white;">Contact information: <a href="mailto:someone@example.com">
  Aditya@gmail.com</a>.</p>
</footer></div> -->
</div><!--container-->
<<<<<<< HEAD









 
<!-- <div class="modal fadein " id="addModal" role="dialog" tabindex="-1" >
=======
 
<div class="modal fadein " id="addModal" role="dialog" tabindex="-1" >
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
<div class="modal fadein " id="addModal" role="dialog" tabindex="-1" >
=======
<<<<<<< HEAD
<div class="modal fadein " id="addModal" role="dialog" tabindex="-1" >
=======
<div class="modal fadein" id="addModal" role="dialog" tabindex="-1" >
>>>>>>> b7dbd759cb9c0e1c38ca1df2dcb8cb32c0f1331b
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
      <div class="modal-dialog">
        <div class="modal-content" style="background-color:white;">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title" style="color:black;font-style:italic">Comment here</h5>
                </div>

                <div class="modal-body">
                  <form action="/comment/" method="POST">{% csrf_token %}
                      <div class="form-group" hidden>

                        <label style="color:white;font-style:italic">Id</label>
                         <input type="text" class="form-control id_class"  name="id_class">
                        </div>
                    
                      
                    <div class="form-group">
                        <label style="color:white;font-style:italic">Write Comment</label>
                         <input type="text" class="form-control quant"  name="cmt" maxlength="100px">
                    </div>
                    
                      <input type="submit" class="btn btn-default comment_submit"   style="margin-left:20px;color:black;font-style:italic"></input>
                      <input type="submit" class="btn btn-default" data-dismiss="modal" value="cancel"style="color:black;font-style:italic"></input>

                    <br><br>
                  </form>
               </div>   
        </div>
    </div> 
</div> -->



<div class="modal fade offset-md-3 col-md-4" id="postModal" role="dialog" tabindex="-1" >
      <div class="modal-dialog">
        <div class="modal-content" style="background-color:grey;">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title" style="color:white;font-style:italic">Comment here</h5>
                </div>

              <div class="modal-body col-md-12">

              <form class="form-inline " action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group"><br>
                 
                    <div class="form-group col-md-12">
                      <label style="color:white;font-style:italic"> Description:</label>
<<<<<<< HEAD
                      <textarea class="form-control"  id="desc" name="dsc" style="height:80px;width:250px" placeholder="Enter only 200 Charcters" maxlength="1000px"></textarea>
=======
<<<<<<< HEAD
                      <textarea class="form-control"  id="desc" name="dsc" style="height:80px;width:250px" placeholder="Enter only 200 Charcters" maxlength="1000px"></textarea>
=======
<<<<<<< HEAD
                      <textarea class="form-control"  id="desc" name="dsc" style="height:80px;width:250px" placeholder="Enter only 200 Charcters" maxlength="1000px"></textarea>
=======
<<<<<<< HEAD
                      <textarea class="form-control"  id="desc" name="dsc" style="height:80px;width:250px" placeholder="Enter only 200 Charcters"></textarea>
=======
<<<<<<< HEAD
                      <textarea class="form-control"  id="desc" name="dsc" style="height:80px;width:250px" placeholder="Enter only 200 Charcters"></textarea>
=======
                      <textarea class="form-control"  id="desc" name="dsc" style="height:80px;width:400px" placeholder="Enter only 200 Charcters"></textarea>
>>>>>>> b7dbd759cb9c0e1c38ca1df2dcb8cb32c0f1331b
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
                    </div><br><br>

                    <div class="form-group col-md-12" style="">
                    <h6 style="color:white;">Select File</h6>
                    <label class="sr-only"></label>
                    <input id="input-1" type="file" name="img" class="file"><br><br>
                    </div>

                    <div><button type="submit" class="btn btn-default col-md-3" style="color:maroon;">Submit</button></div>

                </div>
              </form>
               </div>   
        </div>
    </div> 
</div>
// <script>
//             $('.quant').keypress(function(e) {
//               if (e.keyCode == '13') {
//                  e.preventDefault();
                 
//                }
//             });​
//         </script>
<script language="javascript">
$(document).ready(function() {
    
  $(".comment").shorten();
  
  $(".comment-small").shorten({showChars: 10});

 });
</script>

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
<script language="javascript">
$(document).ready(function() {
    
  $(".comment").shorten();
  
  $(".comment-small").shorten({showChars: 10});

 });
</script>
<<<<<<< HEAD
=======
=======

>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf

<script>
(function($) {
    $.fn.shorten = function(settings) {
        "use strict";

        var config = {
            showChars: 150,
            minHideChars: 10,
            ellipsesText: "...",
            moreText: "More",
            lessText: "less",
            onLess: function() {},
            onMore: function() {},
            errMsg: null,
            force: false
        };

        if (settings) {
            $.extend(config, settings);
        }
<<<<<<< HEAD

        if ($(this).data('jquery.shorten') && !config.force) {
            return false;
        }
        $(this).data('jquery.shorten', true);

        $(document).off("click", '.morelink');

        $(document).on({
            click: function() {
                

                var $this = $(this);
                if ($this.hasClass('less')) {
                    $this.removeClass('less');
                    $this.html(config.moreText);
                    $this.parent().prev().animate({'height':'0'+'%'}, function () { $this.parent().prev().prev().show(); }).hide('fast', function() {
                        config.onLess();
                      });

                } else {
                    $this.addClass('less');
                    $this.html(config.lessText);
                    $this.parent().prev().animate({'height':'100'+'%'}, function () { $this.parent().prev().prev().hide(); }).show('fast', function() {
                        config.onMore();
                      });
                }
                return false;
            }
        }, '.morelink');

        return this.each(function() {
            var $this = $(this);

            var content = $this.html();
            var contentlen = $this.text().length;
            if (contentlen > config.showChars + config.minHideChars) {
                var c = content.substr(0, config.showChars);
                if (c.indexOf('<') >= 0) // If there's HTML don't want to cut it
                {
                    var inTag = false; // I'm in a tag?
                    var bag = ''; // Put the characters to be shown here
                    var countChars = 0; // Current bag size
                    var openTags = []; // Stack for opened tags, so I can close them later
                    var tagName = null;

                    for (var i = 0, r = 0; r <= config.showChars; i++) {
                        if (content[i] == '<' && !inTag) {
                            inTag = true;

                            // This could be "tag" or "/tag"
                            tagName = content.substring(i + 1, content.indexOf('>', i));

                            // If its a closing tag
                            if (tagName[0] == '/') {


                                if (tagName != '/' + openTags[0]) {
                                    config.errMsg = 'ERROR en HTML: the top of the stack should be the tag that closes';
                                } else {
                                    openTags.shift(); // Pops the last tag from the open tag stack (the tag is closed in the retult HTML!)
                                }

=======
<<<<<<< HEAD
=======

        if ($(this).data('jquery.shorten') && !config.force) {
            return false;
        }
        $(this).data('jquery.shorten', true);

        $(document).off("click", '.morelink');

        $(document).on({
            click: function() {
                

                var $this = $(this);
                if ($this.hasClass('less')) {
                    $this.removeClass('less');
                    $this.html(config.moreText);
                    $this.parent().prev().animate({'height':'0'+'%'}, function () { $this.parent().prev().prev().show(); }).hide('fast', function() {
                        config.onLess();
                      });

                } else {
                    $this.addClass('less');
                    $this.html(config.lessText);
                    $this.parent().prev().animate({'height':'100'+'%'}, function () { $this.parent().prev().prev().hide(); }).show('fast', function() {
                        config.onMore();
                      });
                }
                return false;
            }
        }, '.morelink');

        return this.each(function() {
            var $this = $(this);

            var content = $this.html();
            var contentlen = $this.text().length;
            if (contentlen > config.showChars + config.minHideChars) {
                var c = content.substr(0, config.showChars);
                if (c.indexOf('<') >= 0) // If there's HTML don't want to cut it
                {
                    var inTag = false; // I'm in a tag?
                    var bag = ''; // Put the characters to be shown here
                    var countChars = 0; // Current bag size
                    var openTags = []; // Stack for opened tags, so I can close them later
                    var tagName = null;

                    for (var i = 0, r = 0; r <= config.showChars; i++) {
                        if (content[i] == '<' && !inTag) {
                            inTag = true;

                            // This could be "tag" or "/tag"
                            tagName = content.substring(i + 1, content.indexOf('>', i));

                            // If its a closing tag
                            if (tagName[0] == '/') {


                                if (tagName != '/' + openTags[0]) {
                                    config.errMsg = 'ERROR en HTML: the top of the stack should be the tag that closes';
                                } else {
                                    openTags.shift(); // Pops the last tag from the open tag stack (the tag is closed in the retult HTML!)
                                }

<<<<<<< HEAD
                            } else {
                                // There are some nasty tags that don't have a close tag like <br/>
                                if (tagName.toLowerCase() != 'br') {
                                    openTags.unshift(tagName); // Add to start the name of the tag that opens
                                }
                            }
                        }
                        if (inTag && content[i] == '>') {
                            inTag = false;
                        }

                        if (inTag) { bag += content.charAt(i); } // Add tag name chars to the result
                        else {
                            r++;
                            if (countChars <= config.showChars) {
                                bag += content.charAt(i); // Fix to ie 7 not allowing you to reference string characters using the []
                                countChars++;
                            } else // Now I have the characters needed
                            {
                                if (openTags.length > 0) // I have unclosed tags
                                {
                                    //console.log('They were open tags');
                                    //console.log(openTags);
                                    for (j = 0; j < openTags.length; j++) {
                                        //console.log('Cierro tag ' + openTags[j]);
                                        bag += '</' + openTags[j] + '>'; // Close all tags that were opened

                                        // You could shift the tag from the stack to check if you end with an empty stack, that means you have closed all open tags
                                    }
                                    break;
                                }
                            }
                        }
                    }
                    c = $('<div/>').html(bag + '<span class="ellip">' + config.ellipsesText + '</span>').html();
                }else{
                    c+=config.ellipsesText;
                }

                var html = '<div class="shortcontent">' + c +
                    '</div><div class="allcontent">' + content +
                    '</div><span><a href="javascript://nop/" class="morelink">' + config.moreText + '</a></span>';

                $this.html(html);
                $this.find(".allcontent").hide(); // Hide all text
                $('.shortcontent p:last', $this).css('margin-bottom', 0); //Remove bottom margin on last paragraph as it's likely shortened
            }
        });

    };

})(jQuery);
</script>

<script>
$(function(){
    var m = new Masonry($('.grid').get()[0], {
        itemSelector: ".thumbnail"
        });
});
</script>


<script>    
=======
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf

        if ($(this).data('jquery.shorten') && !config.force) {
            return false;
        }
        $(this).data('jquery.shorten', true);

        $(document).off("click", '.morelink');

        $(document).on({
            click: function() {
                

                var $this = $(this);
                if ($this.hasClass('less')) {
                    $this.removeClass('less');
                    $this.html(config.moreText);
                    $this.parent().prev().animate({'height':'0'+'%'}, function () { $this.parent().prev().prev().show(); }).hide('fast', function() {
                        config.onLess();
                      });

                } else {
                    $this.addClass('less');
                    $this.html(config.lessText);
                    $this.parent().prev().animate({'height':'100'+'%'}, function () { $this.parent().prev().prev().hide(); }).show('fast', function() {
                        config.onMore();
                      });
                }
                return false;
            }
        }, '.morelink');

        return this.each(function() {
            var $this = $(this);

            var content = $this.html();
            var contentlen = $this.text().length;
            if (contentlen > config.showChars + config.minHideChars) {
                var c = content.substr(0, config.showChars);
                if (c.indexOf('<') >= 0) // If there's HTML don't want to cut it
                {
                    var inTag = false; // I'm in a tag?
                    var bag = ''; // Put the characters to be shown here
                    var countChars = 0; // Current bag size
                    var openTags = []; // Stack for opened tags, so I can close them later
                    var tagName = null;

                    for (var i = 0, r = 0; r <= config.showChars; i++) {
                        if (content[i] == '<' && !inTag) {
                            inTag = true;

                            // This could be "tag" or "/tag"
                            tagName = content.substring(i + 1, content.indexOf('>', i));

                            // If its a closing tag
                            if (tagName[0] == '/') {


                                if (tagName != '/' + openTags[0]) {
                                    config.errMsg = 'ERROR en HTML: the top of the stack should be the tag that closes';
                                } else {
                                    openTags.shift(); // Pops the last tag from the open tag stack (the tag is closed in the retult HTML!)
                                }

<<<<<<< HEAD
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
                            } else {
                                // There are some nasty tags that don't have a close tag like <br/>
                                if (tagName.toLowerCase() != 'br') {
                                    openTags.unshift(tagName); // Add to start the name of the tag that opens
                                }
                            }
                        }
                        if (inTag && content[i] == '>') {
                            inTag = false;
                        }

                        if (inTag) { bag += content.charAt(i); } // Add tag name chars to the result
                        else {
                            r++;
                            if (countChars <= config.showChars) {
                                bag += content.charAt(i); // Fix to ie 7 not allowing you to reference string characters using the []
                                countChars++;
                            } else // Now I have the characters needed
                            {
                                if (openTags.length > 0) // I have unclosed tags
                                {
                                    //console.log('They were open tags');
                                    //console.log(openTags);
                                    for (j = 0; j < openTags.length; j++) {
                                        //console.log('Cierro tag ' + openTags[j]);
                                        bag += '</' + openTags[j] + '>'; // Close all tags that were opened

                                        // You could shift the tag from the stack to check if you end with an empty stack, that means you have closed all open tags
                                    }
                                    break;
                                }
                            }
                        }
                    }
                    c = $('<div/>').html(bag + '<span class="ellip">' + config.ellipsesText + '</span>').html();
                }else{
                    c+=config.ellipsesText;
                }

                var html = '<div class="shortcontent">' + c +
                    '</div><div class="allcontent">' + content +
                    '</div><span><a href="javascript://nop/" class="morelink">' + config.moreText + '</a></span>';

                $this.html(html);
                $this.find(".allcontent").hide(); // Hide all text
                $('.shortcontent p:last', $this).css('margin-bottom', 0); //Remove bottom margin on last paragraph as it's likely shortened
            }
        });

    };

})(jQuery);
</script>

<script>
$(function(){
    var m = new Masonry($('.grid').get()[0], {
        itemSelector: ".thumbnail"
        });
});
</script>


<script>    
<<<<<<< HEAD
=======
=======
    
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
        function getCookie(name)
        {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
               

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }

        function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
        }
  

  

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                var csrftoken = getCookie('csrftoken');
                if(csrftoken) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        }
    });

$(document).ready(function(){



  var ido=0;

      $('[data-toggle="popover"]').popover();  

      $('.like').click(function(){

        var id =$(this).attr('id')
        var clic=$(this).attr('value')

        
        if(clic == "False")
        {
          
         $.ajax({
                       url: "/",
                       type:"POST",
                       data:{'id':id,'clic':clic},

                       success: function(){
                            clic="True"
                             location.reload();

                      
                                }
                      
                 });
            
         
        }
        else
        {
          
            $.ajax({
                       url: "/",
                       type:"POST",
                       data:{'id':id,'clic':clic},

                       success: function(){
                          
                            clic="False"
                             location.reload();

                      
                                }
                      
                 });
            
        }

       
 });

// $('.comment12').click(function(){

//   var id =$(this).attr('id')
//   // alert(id)
//   // $('.id_class').val(id)



//         $.ajax({
//                          url: "/box/",
//                          type:"POST",
//                          data:{'id':id},
//                          success : function(data) {
//                                     alert(data);
//                                     $('.aaa').html('');
//                                      // $('.box').html(data);



//                               }

<<<<<<< HEAD
//                          // success: function(content)
//                          //      {
//                          //          // alert("ssssssss");


//                          //              // for(i=0;i<=content.length;i++)
//                          //              // {
//                          //              //     alert(content[i]['comm'])
//                          //              //     location.reload();
                                          
//                          //              // }
//                          //      }
//               });
        
//  });


$('.share').click(function(){
=======
$('.comment1').click(function(){
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758

  var id =$(this).attr('id')
  
      });
});//doc

$('.share').click(function(){
<<<<<<< HEAD

<<<<<<< HEAD
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

=======
  var id =$(this).attr('id')
=======
<<<<<<< HEAD
=======

  var id =$(this).attr('id')
  // alert(id)
      });

>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106

  var id =$(this).attr('id')
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
  
      });
});//doc


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======







>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======



















>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
</script>


</div>
</body>
</html>
