<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
<<<<<<< HEAD
  <title>Login</title>
=======
<<<<<<< HEAD
  <title>Login</title>
=======
<<<<<<< HEAD
  <title>Login</title>
=======
<<<<<<< HEAD
  <title>Login</title>
=======
  <title>Category Page</title>
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
{% include "header.html" %}
<body>
<div class="container">
	<div class="loginbody">
	
    
			  	
			  	
 				<form  action="" method="POST">{% csrf_token %}
                    <fieldset>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
                    	<div class="col-md-4 offset-md-4 panel-title" style="font-size:30px;">please sign in</div>
			    	      <div class=" col-md-3 offset-md-4 form-group">
			    		    <input class="form-control" placeholder="Username" name="username" type="text
			    		    " maxlength="100" required>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
                    	<div class="col-md-4 offset-md-4 panel-title" style="font-size:30px;">please sign in</div>
			    	      <div class=" col-md-3 offset-md-4 form-group">
=======
<<<<<<< HEAD
                    	<div class="col-md-4 offset-md-4 panel-title" style="font-size:30px;">please sign in</div>
			    	      <div class=" col-md-3 offset-md-4 form-group">
=======
			    	      <div class="form-group">
>>>>>>> b7dbd759cb9c0e1c38ca1df2dcb8cb32c0f1331b
>>>>>>> 7e7a8180525162c55c4d4d898f97556b5b1d9b32
			    		    <input class="form-control" placeholder="Username" name="username" type="text
			    		    " required>
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
			    		  </div>
			    		<div class=" offset-md-4 col-md-3 form-group">
							
			    		<input class="form-control" placeholder="Password" name="password" type="password" value="" maxlength="100" required>
			    		</div>
			    		
			    		<input class="offset-md-5 col-md-1 btn btn-success "  type="submit" value="Login" name="login">
			    		<!-- <input class="offset-md-4 col-sm-4 btn btn-lg btn-success " type="submit" value="Register"> -->
					<div class="offset-md-4 col-md-5">Don't have account ?<a href="/signup/" style="color:#99ccff;font-size:17px;">Sign Up</div>
	    	      </fieldset>
	    	      	<div style="margin-top:10px;"><h4 style="color:black;font-style:oblique;">
						<div  style="margin-top:100px" class="offset-md-4 col-md-4">
						{% if messages %}
							<ul class="messages">
							    {% for message in messages %}
							    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >
							    {% if message.level == DEFAULT_MESSAGE_LEVEL.ERROR %}Important: {% endif %}
							    {{ message }}
							  </li>
							    {% endfor %}
							</ul>
						{% endif %}
					</div>
					</h4>
					</div>   	

	    	      	
	    	  </form>

 		</div>
	 </div>
			

</body>

</html>

