<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script  src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" href="/static/css/stylesheet1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
{% include "header.html" %}
<body >
<div class="container">
	<div class="sign">
	
	
	
    	<div class="col-md-5 col-md-offset-5">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
				<h4 class="panel-title" style="text-decoration:none;color:black;">Register Here</h4>
			 	</div>
			  	<div class="panel-body">
			    	<form action="" method='POST'>{% csrf_token %}
                    <fieldset>
			    	      <div class="form-group">
			    	      <input class="form-control" placeholder="First Name" name="fs" type="text" maxlength="90" required>
			    	      </div>

				      <div class="form-group">
			    	      <input class="form-control" placeholder="Last Name" name="ls" type="text" maxlength="90"required>
			    	      </div>
    					
				      <div class="form-group">
			    	      <input class="form-control" placeholder="Enter Phone Number"  name="rgphn" maxlength="10" pattern="\d{10}" type="text" title="Please enter exactly 10 digits" required>
			    	      </div>
				      
				      <div class="form-group">
<<<<<<< HEAD
			    	      <input class="form-control" placeholder="Enter Username" name="un" type="textl" maxlength="40" required>
=======
<<<<<<< HEAD
			    	      <input class="form-control" placeholder="Enter Username" name="un" type="textl" maxlength="40" required>
=======
<<<<<<< HEAD
			    	      <input class="form-control" placeholder="Enter Username" name="un" type="textl" maxlength="40" required>
=======
			    	      <input class="form-control" placeholder="Enter Username" name="un" type="textl" required>
>>>>>>> b0c092cbf9c721e3e263720b08da2ce2c9b54106
>>>>>>> 0257227654ef9f02a98fb3f9cc32d45ec3151dbf
>>>>>>> ab6f45590dce3455858393ead88c73a15401c758
			    	      </div>                 

			    	      <div class="form-group">		
			    	      <input class="form-control" placeholder="Password" name="rgpass" type="password" value="" maxlength="90" required>
			    	      </div><br>
			    		
			    	        
			    		<input class="btn btn-lg btn-success " type="submit" value="Register">
			    		<button class="btn btn-lg btn-success" type="reset">Reset</button>
					
					<a class="back" href="/" style="color:#99ccff;font-size:17px;">Back</a>
						<div style="margin-top:10px;"><h4 style="color:black;font-style:oblique;">
						<div  style="margin-top:100px">
						{% if messages %}
							<ul class="messages">
							    {% for message in messages %}
							    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >
							    {% if message.level == DEFAULT_MESSAGE_LEVEL.ERROR %}Important: {% endif %}
							    {{ message }}
							  </li>
							    {% endfor %}
							</ul>
						{% endif %}
						</div>
						</h4></div>   	


					
	    	      </fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	
</div>
</div>
</body>

</html>

