.tp1{
background-color:orange;

}
.top2{
background-color:white;

}
.top1{
background-color:orange;

}




.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
    
}
.dropdown {
    position: relative;
    display: inline-block;
}

.boxdiv {
   
    background:white;
    width:500px;
    height:100px;
    color: #000;
    padding-left: 18px;
    padding-top:10px;
    
}
.boxdiv1 {
   
    background:white;
    width:500px;
    height:70px;
    color: #000;
    padding-left: 18px;
    padding-top:10px;
    
}

.user{
  width:500px;height:50px;font-style:italic;background:grey;font-size:25px;color:white;padding-left: 18px;
}







 .dropbtn {
    background-color: orange;
}

body {
  margin: 0;
  padding: 0;
  background: orange;
}





.top{
padding:0px;
height:85px;
width:1150px;
border:0px solid black;
background-color:pink;
}
.fb{
  color:white;
    font-size:50px;
    height: 56px;
    
 }
.em{
color:white;
left:-78px;
width:140px;
height:8px;
}
.pass{
color:white;
left:-11px;
width:140px;
height:8px;
}
.log{
color:white;
left:57px;
top:27px;
}



.loginbody{
    /*background-image: url('imges/hand.jpg');*/
    background: white;
    margin-left: 400px;
    margin-top: 100px;
}
.signup{
    
    background: white;
    margin-left: 500px;
     
}
.sign{
    
    background: white;
    margin-left: 400px;
    margin-top: 40px;
}










/* CSS Document*/
a,
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
  padding:0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: inherit

}
ul,li,ol,li{
  list-style: none;
}
a{
text-decoration: none;
  color: inherit
}
span.bclear{
  display: block;
  clear: both !important;
    
}
*{
  -webkit-transition: all 1s  ease-in-out;
  -moz-transition: all 1s  ease-in-out;
  -ms-transition: all 1s  ease-in-out;
  -o-transition: all 1s  ease-in-out;
  transition: all 1s  ease-in-out;
}
html{
  font-size:100%;

}
body{
    background-color: #ecedf1;
}
header{
background-color: #fff;
  clear: both
}
h1{
  font-size: 2.6rem;
  color:inherit;
  display: inline-block
}
img{
max-width: 100%;
}
h2{
  font-size: 2rem;
  color:inherit;
  display: inline-block
}
h3{
  font-size: 1.6rem;
  color:inherit;
  display: inline-block
}
p{
  font-size: .86rem;
  padding: .6rem 0;
  line-height:20px;
}
span.icon{

  background-image: url("../images/splite-elements.png");

  background-repeat: no-repeat;

}
.setright{
  float: right;
}
.setleft{
  float: left;
}
.global-container{
  width:100%;
  max-width:1260px;
  margin: auto;
  padding: 0 1rem;
}
.top-branding{
  padding: 1rem;
}
.bg-orange{
  background-color: #f86f2b;
}
.bg-white{
background-color: #fff;
}
.login-signup {
float:right;
position: relative;
padding-top:0.5rem;
  
}
.inlineb{
display: inline-block;
  vertical-align: middle
}
.inline-list li{
display:inline-block;
text-align: right;
}

.login-signup li>a{
  border: 0.01rem solid #fff;
  padding: .6rem 1rem;
  display: block;
  color:#fff;
  margin-left:0.4rem;
  border-radius: .5rem;
}
nav{
clear: both;

}
nav>a{
  padding:.78rem;
  position: relative;
  border-left: 1px solid #bcbcbc;
  float: left
  
}
nav>a:last-child{

  border-right: 1px solid #bcbcbc;

}
nav>a:first-child{

  border-width: 0px ;

}
nav>a.active{
padding:.8rem 1rem;
position: relative;
border-bottom: .4rem solid #f86f2b;
  
}

nav>a>span{
  display:inline-block;

  vertical-align:middle;
  margin: 0 0.5rem;
  
}
span.star{
background-position: -530px 0px;
    width:42px;
  height: 42px;
}
.dropdown{
  background-position: -480px 0px;
    width:42px;
  height: 42px;
}
.top-social{
float: right;
  padding-top:1.5rem;

}

.match-section{
  margin:2rem auto;
}
.brb1gray{
  border-bottom: 1px solid #cdcdcd;
}
.brt1gray{
  border-top: 1px solid #cdcdcd;
}
.participant-teams li{
  vertical-align: middle;
  width:33%;
  text-align: center;
  padding:.2rem 1rem;
  float: left
}

.supprt-likes-number>span{
  font-size:.8rem;
  display: inline-block;
  min-width:24px;
  padding: .5rem;
  
  
}
.support-flag{
background-position: -449px 0px;
  height: 32px;
  display: inline-block;
  vertical-align: middle
}
.vs{
line-height: 5rem;
}
.matchreleated-tabs{
  clear: both;
  display: block;
  width: 100%;
}
.matchreleated-tabs>li{
  padding:1.6rem 0;
  font-size: 1.2rem;
  border-left: 1px solid #bcbcbc;
  color:#666;
  width:10%;
  text-align: center;
  position: relative
}
.matchreleated-tabs>li:first-child,.matchreleated-tabs>li:last-child{
  width:35%;
}
.matchreleated-tabs>li:first-child{
  text-align: right;
  border-width:0px;
  padding-right:2rem;
}

.matchreleated-tabs>li:last-child{
text-align: left;
  padding-left:2rem;
}
.matchreleated-tabs>li.active{
background-color: #d8dbe2;
}
.matchreleated-tabs>li.active::after{
  position:absolute;
  content:"";
  width:0;
    height:0;
  top:100%;
  border-top:1rem solid #d8dbe2;
  border-bottom:1rem solid transparent;
  border-left:1rem solid transparent;
  border-right:1rem solid transparent;
}
.match-users{
  width:70%;
  float: left;
  padding-right: 2rem;
  
}
.match-user-posts{
width:30%;
  float: right
}
.user-list>li{
  margin:10px 0;
  background-color: #fff;
  padding: .6rem 0;
  font-weight: bold;
  
}
.user-list>li:first-child{
  margin-top: 0;
}
.user-likes-info>li{
  padding: 1rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  color:#3b4a6b;
}
.user-likes-info>li:last-child{
  float:right;
}
.user-likes-info>li:first-child{
  font-size:1.8rem;
  line-height: 3rem;
  font-weight: 200;
  text-align: center
}
.user-likes-info>li:last-child span,.user-likes-info>li:last-child h3{
  display:inline-block;
  vertical-align: middle;
  text-align: center;
    font-size:1.3rem;

  
}
.user-list-number::before{
content:"";
  position: absolute;
  width:0;
  height:100%;
  top:0;
  bottom:0;
  right: 0;
  border-top: 0px solid transparent;
  border-right: 1px solid #bcbcbc;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;

}
.user-avatar{
  display: inline-block;
  vertical-align: middle;
  width:43px;
  height:43px;
  background-color: #3b4a6b;
  margin: 0 1rem 0 0;
  border-radius:50%;
  overflow: hidden
}
.user-name{
font-size: 1.2rem;
}
span.chip-icon{
  width:43px;
  height: 43px;
  background-color: #3b4a6b;
  margin-right: .6rem;
}
.txtorange{
color:#f67029;
}
.user-likes-info>li:last-child h3 span{
  font-weight: 200;
  font-size: 1rem;
  color: initial;
}
.user-post-grid>li{
  background-color: #fff;
margin: 2rem 0;
  
}
.user-post-grid>li:first-child{
  margin-top: 0;
}
.user-post-grid>li>h4{
  display: block;
  width:100%;
  padding: 1rem;
  position: relative;
  vertical-align: middle
}
span.user-score{
position: absolute;
  top:0;
  right:0;
  display: block;
  width:60px;
  height: 60px;
  background-image: url("../images/splite-elements.png");
  background-position: -582px 0;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
}

.user-post-grid p{
  padding:0rem 1rem 1rem 1rem;
}

.share-like-comment-score>li{

  padding: 1rem;
  font-size: .9rem;
}

footer{
  clear: both;
  background-color: #3b4a6b;
  width:100%;
  padding: 1rem 0;
  color: #f9f9f9;
}

.fotter-anchors>li>a{
  display: block;
padding:.5rem;
  margin:0 .6rem; 
}



